{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% block content %}

    <form action="" method="post">


        {% csrf_token %}

        <div>
            {{ form.as_p }}
        </div>

    </form>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>    django.gettext = window.gettext    </script>
{% endblock %}