{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <style>.form-row {
        float: left;
        width: 400px;
    }

    .form-row1 {
        overflow: hidden;
        padding: 10px;
        padding: 0.71429rem;
    }

    .related-popup2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        padding-left: 250px;
        padding-left: 17.85714rem;
        box-sizing: border-box;
        display: none;
        background: #f8fafc;
        background-clip: content-box;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
        .selected {
            background-color: #ccc;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
    <form action="" method="post">


        {% csrf_token %}
         {% load jet_tags %}
    <!-- AGREGAR CONTENIDO AQUI -->
    <fieldset class="module aligned">
<div align="center">
        <h1>Tickets para cobrar (presione F5 para actualizar)</h1>
        <table id="tabla_ventas" width="70%" class="table-striped">
            <thead>
                <tr>
                    <th>Numero Ticket</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Detalle</th>
                    <th>Monto Total</th>
                    <th>Vendedor</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{venta.numero_ticket}}</td>
                    <td>{{venta.fecha}}</td>
                    <td>{{venta.cliente}}</td>
                    <td>
                        {% for ventaarticulo in venta.ventaarticulo_set.all %}
                            {{ventaarticulo.nombre_articulo}} ,
                        {% endfor %}
                    </td>
                    <td>{{venta.monto}}</td>
                    <td>{{venta.usuario}}</td>
                    <td><input type="button" class="btn btn-primary"
                               onclick="window.location.href='{% url 'cobrar_venta' venta.numero_ticket %}';"
                               value="COBRAR" />

                </tr>
                {% endfor %}
            </tbody>

        </table>
            {% if not ventas %}
                <h1>NO EXISTEN VENTAS PARA COBRAR</h1>
            {% endif %}
        </div>
    </fieldset>

    <script>
             //AGREGADO PARA SELECCIONAR FILA Y ELIMINAR ARTICULO
             let $filas = jQuery('#tabla_ventas tbody tr');
             let filaSeleccionada = -1; 
             jQuery('#tabla_ventas').focus;
             //FIN
                    // Agregar un evento de escucha para las teclas de flecha hacia arriba y abajo
                    jQuery(document).on("keydown", function(event){
                        if (event.keyCode === 38  && filaSeleccionada > 0) {
                            event.preventDefault();
                            
                             $filas.eq(filaSeleccionada).removeClass('selected');
                                filaSeleccionada--;
                                $filas.eq(filaSeleccionada).addClass('selected');
                        } else if (event.keyCode === 40 && filaSeleccionada < $filas.length - 1) {
                            event.preventDefault();
                            
                             $filas.eq(filaSeleccionada).removeClass('selected');
                            filaSeleccionada++;
                            $filas.eq(filaSeleccionada).addClass('selected');
                            } else if (event.key === 'Enter' && filaSeleccionada !== -1) {
                                // Eliminar la fila seleccionada
                                var nro_ticket = $filas.eq(filaSeleccionada).find('td:first').text();
                                window.location.href='{% url 'cobrar_venta' numero_ticket=1234567 %}'.replace(/1234567/, nro_ticket);
                                console.log('REGISTRO A ELIMINAR');
                                console.log(nro_ticket)
                               
                                //$filas.eq(filaSeleccionada).remove();
                                //filaSeleccionada = -1; // Reiniciar la selección
                            }
                    });
             
             


            jQuery(document).ready(function () {
                console.log('inicia el html')
                cargar_tickets();
            });
            const cargar_tickets = () =>{
            }



    </script>
        <!-- SWEETALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>    django.gettext = window.gettext    </script>

    </form>
{% endblock %}