
    <!-- AGREGAR CONTENIDO AQUI -->
<ul style="list-style-type:none">
    <li>CARNICERIA VIRGEN DEL VALLE</li>&nbsp
    <li>Sucursal: {{usuario.sucursal}}</li>
    <li>Fecha: {{cierre_venta.fecha|date:"M d, Y, H:i"}}</li>
    <li>Cierre de Ventas</li>
    <li>Nro Cierre: {{cierre_venta.numero_cierre}}</li>
    <li>Usuario: {{usuario}}</li>
    <li>Ticket Desde: {{cierre_venta.ticket_desde}}</li>
    <li>Ticket Hasta: {{cierre_venta.ticket_hasta}}</li>
    <li>Cantidad de Tickets: {{cierre_venta.ticket_cantidad}}</li>
    <li>Importe Total: {{cierre_venta.importe}}</li>
    <li>---------------------------</li>&nbsp
    <li>----------EVENTUAL---------</li>
    <li>Importe: {{importe_eventuales}}</li>&nbsp
    <li>---------EMPLEADOS---------</li>
    <li>Importe: {{importe_descuentos}}</li>&nbsp
    <li>-----------ASADO-----------</li>
    <li>Importe: {{importe_asados}}</li>&nbsp
    <li>----------BLANDOS----------</li>
    <li>Importe: {{importe_blandos}}</li>

</ul>