{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <style>.form-row {
        float: left;
        width: 400px;
    }

    .form-row1 {
        overflow: hidden;
        padding: 10px;
        padding: 0.71429rem;
    }

    .related-popup2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        padding-left: 250px;
        padding-left: 17.85714rem;
        box-sizing: border-box;
        display: none;
        background: #f8fafc;
        background-clip: content-box;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
    <form action="" method="post">


        {% csrf_token %}
         {% load jet_tags %}
    <!-- AGREGAR CONTENIDO AQUI -->
                                        <fieldset class="module aligned">
                                            <div class="form-row1 field-numero_lote">
                                                <div>
                                                    <label>NUMERO LOTE:</label>
                                                    <input type="text" name="numero-lote" value="{{ movimiento.numero_lote }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-row1 field-usuario">
                                                <div>
                                                    <label>USUARIO:</label>
                                                    <input type="text" name="usuario" value="{{ movimiento.usuario_emisor }}" disabled>
                                                </div>
                                            </div>
                                             <div class="form-row1 field-fecha">
                                                <div>
                                                    <label>FECHA DE ENVIO:</label>
                                                    <input type="text" name="fecha-movimiento" value="{{ movimiento.fecha }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-row1 field-sucursal-origen">
                                                <div>
                                                    <label>SUCURSAL ORIGEN:</label>
                                                    <input type="text" name="sucursal-origen" value="{{ movimiento.sucursal_origen }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-row1 field-sucursal-destino">
                                                <div>
                                                    <label>SUCURSAL DESTINO:</label>
                                                    <input type="text" name="sucursal-destino" value="{{ movimiento.sucursal_destino }}" disabled>
                                                </div>
                                            </div>
                                    <div class="results">
                                        <table class="table-striped" id="articulos-movimiento" width="80%">
                                                        <thead>
                                                              <tr>
                                                                <th>Articulo</th>
                                                                <th>Cantidad</th>
                                                                <th>Monto</th>
                                                               </tr>
                                                        </thead>
                                                        <tbody>
                {% for articulomovimiento in lista_articulos %}
                <tr>
                    <td>{{articulomovimiento.articulo}}</td>
                    <td>{{articulomovimiento.cantidad_peso}}</td>
                    <td>{{articulomovimiento.monto}}</td>

                </tr>
                {% endfor %}
            </tbody>
                                        </table>
                                    </div>


                                    <div class="submit-row">
                                        <input type="button" onclick="recepcionarMovimientoIngreso()" value="RECEPCIONAR" class="default"
                                               name="add">
                                        <input type="button" onclick="window.location.href='/admin/inventario/movimientointerno/'" value="VOLVER" class="btn-close"
                                               name="back">
                                    </div>

                                </fieldset>

        <script>
            const recepcionarMovimientoIngreso = () => {
                         let url_mask = "{% url 'recepcionar_movimiento' numero_lote=8246 %}".replace(/8246/, {{ movimiento.numero_lote }});
                                jQuery.ajax({
                                        type: 'PUT',
                                        url: url_mask,
                                        contentType: 'application/json; charset=utf-8',
                                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                        success:
                                            function (result) {
                                                if (result.data = "RECEPCIONADO") {

                                                    swal({
                                                        icon: 'success',
                                                        title: 'Movimiento recepcionado',
                                                        button: 'Ok',
                                                        }).then((value) => {
                                                            window.location.href = "/admin/inventario/movimientointerno/"
                                                            });
                                                }
                                                if (result.error){
                                                    swal({
                                                        icon: 'error',
                                                        title: result.error,
                                                        button: 'Ok',
                                                        }).then((value) => {
                                                            window.location.href = "/admin/inventario/movimientointerno/"
                                                            });
                                                }
                                            },
                                        error: function (response) {
                                            console.log(response);
                                        }

                                    }
                                );

            }

        </script>


       <!-- SWEETALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>    django.gettext = window.gettext    </script>
{% endblock %}